body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.footer-copyright {
    text-align: center;
}

.heading {
    text-align: center;
}

.container#maincontainer {
    width: 65% !important;
    margin: 2.5rem auto !important;;
}

.container#membercontainer {
    width: 50% !important;
    margin: 2.5rem auto !important;;
}

.container#listcommentcontainer {
    width: 55% !important;
    margin: 2.5rem auto !important;;
}

.container#listtopcommentcontainer {
    width: 55% !important;
    margin: 2.5rem auto !important;;
}

.container#addcommentcontainer {
    width: 50% !important;
    margin: 2.5rem auto !important;;
}

.container#registercontainer {
    width: 60% !important;
    margin: 2.5rem auto !important;;
}

input.waves-button-input {
    color: white;
    padding-top: 0.70rem;
}

.author {
    margin: 0.5rem;
    color: black;
    font-weight: bold;
    grid-area: author;
}

.date {
    margin: 0.5rem;
    color: darkgrey;
    font-weight: lighter;
    font-style: italic;
    grid-area: date;
}

.like {
    margin: 0.5rem;
    color: darkgrey;
    font-weight: bold;
    font-style: italic;
    padding-top: 0.5rem;
    grid-area: like;
}

.likebutton {
    margin: 0.5rem;
    color: darkgrey;
    font-weight: bold;
    font-style: italic;
    grid-area: likebutton;
}

.comment {
    margin: 0.5rem;
    color: grey;
    display: block;
    grid-area: comment;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 2.8fr 0.6fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 1px 1px;
    grid-template-areas: "author . . date" ". . comment ." "likebutton like . .";
}

li.collection-item {
    margin: 0.5rem auto !important;;
}